.instrument {
  &__head {
    display: flex;
    justify-content: center;
  }

  &__list {
    display: flex;
    flex-direction: column;
    height: 20rem;
    overflow: auto;
    width: 100%;
    background-color: white;
  }
}