:host {
  position: relative;
}

.instrument {
  &__head {
    display: flex;
    justify-content: center;

  }

  &__list {
    position: absolute;
    left: 24%;
    flex-direction: column;
    gap: 0.5rem;
    height: 20rem;
    overflow: auto;
    width: 50%;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-out, visibility 0.3s ease-out;
    padding: 1rem 0 1rem 1rem;
    scrollbar-gutter: stable;
    z-index: 1000;

  }

  &__list.is-visible {
    opacity: 1;
    visibility: visible;
  }
}