:host {
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 20rem;
  overflow: auto;
  width: 100%;
  z-index: 100;
  background-color: white;
}