<div class="instrument__head">
  <input type="search" id="instrumentSearchInput" [(ngModel)]="searchValue" required>
  <button (click)="toggleSubscription()" [disabled]="">{{ btnTitle }}</button>
</div>

<ul class="instrument__list" [toggleOnFocus]="'#instrumentSearchInput'">
  @for (i of instrumentList | instruments:searchValue; track i.id) {
  <li>
    <instrument-item [instrumentItem]="i" (selectedInstrument)="onInstrumentSelect($event)">
    </instrument-item>
  </li>
  } @empty {
  <span> No instrument found!</span>
  }
</ul>