<div class="instrument__head">
  <input type="search"  id="instrumentSearchInput" [(ngModel)]="searchValue" required>
  <button (click)="onSubsribeBtnToogle()">{{btnTitle}}</button>
</div>

<div class="instrument__list" [toggleOnFocus]="'#instrumentSearchInput'" >
@for (i of instrumentList | instruments:searchValue; track $index ) {
  <instrument-item 
    [instrumentItem]="i"
    (selectedInstrument)="onInstumentSelect($event)">
  </instrument-item>
  } @empty {
  <span> No instrument found!</span>
  }
</div>